name: Continuous Integration - run

on:
  push:
  pull_request:

jobs:
  formatting-and-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
            submodules: 'true'    
      
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
    
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install colorama
          python install.py
    
      - name: Bootloader & Cairo1 pie - Compile
        run: |
          python compile.py
    
      - name: Cairo1->Cairo0Bootloader run
        run: |
          python run.py